node_modules
.next
next-env.d.ts

# Environment variables
.env
.env*.local

# Databases (SQLite)
*.db
*.db-journal

# Generated Prisma client
/generated/prisma

# User uploads
/public/uploads/*
!/public/uploads/.gitkeep
